<!--
  ~ Copyright (C) 2010 - 2024. Henrik Bærbak Christensen, Aarhus University.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~
  ~ You may obtain a copy of the License at
  ~  http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<body>

<p>
This package contains the MiniDraw framework.
</p>

<p>
<em>
For further details, please consult "Flexible, Reliable Software -
Using Patterns and Agile Development", by Henrik Baerbak Christensen,
CRC Press 2010, and following editions.
</em>
</p>

<p>
Notes:

<ul>
 <li> This framework is heavily influenced by JHotDraw 5.1, and some
   abstractions are reused directly. The architecture based on
   MVC is identical to that of JHotDraw but many of the default
   implementations (especially Figure subclasses) are removed, and
   several additions have been made to better suit handling graphics
   for board games. 

 </li> JHotDraw is a framework relying mostly on inheritance for reuse
   whereas MiniDraw generally uses a compositional design
   approach.</li>

 <li> The experimental 'boardgame' package provides even greater
   support for boardgames.
 </li>

</ul>
</p>

<pre>
Copyright (C) 2010-2021 Henrik Bærbak Christensen, Aarhus University.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.

You may obtain a copy of the License at
 http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
</pre>
</body>
