<!--
  ~ Copyright (C) 2010 - 2024. Henrik Bærbak Christensen, Aarhus University.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~
  ~ You may obtain a copy of the License at
  ~  http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<body>
<p>
This package contains an experimental extension to MiniDraw,
<b>BoardGame</b>, whose hotspots are especially geared towards
supporting board games.
</p>

<p>
<em>
For further details, please consult "Flexible, Reliable Software -
Using Patterns and Agile Development", by Henrik Baerbak Christensen,
CRC Press 2010.
</em>
</p>


<p>
The package adds quite a few frozen spots to MiniDraw which then are
configured by a set of hot spots for the particular board game. In the
contents list, all interfaces are hot spots while concrete classes are
frozen spots.
</p>
<p>
  Review the 'breakthrough' example for an example of using BoardGame.
</p>
<pre>
   Copyright 2010 Henrik Baerbak Christensen

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.

</pre>
</body>
